.button {
  @include button;
  display: block;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }

  &--show-all {
    background-color: $secondary-color;
    color: $main-text-color;

    &:hover {
      background-color: #ebebeb;
    }
  }
}
