.field__label {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 1220px) {
  .contacts__label:last-child {
    margin-bottom: 22px;
  }
}

@media (min-width: 768px) {
  .field__label {
    margin-bottom: 22px;
  }
}

.field__text {
  flex-shrink: 0;
  margin-right: 15px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .field__text {
    font-size: 20px;
  }
}

.field__input {
  width: 100%;
  border: 1px solid #e6e6e6;
  padding: 13px 15px;
  transition: 0.3s;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: #444444;
  font-size: 16px;
  line-height: 18px;
}

.contacts__icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

@media (min-width: 768px) {
  .field__input {
    padding: 10px 47px 10px 20px;
    font-size: 20px;
    line-height: 20px;
  }
}

// .field__input--error {
//   border-color: #ff8282;
// }

.field__input:hover {
  border-color: #cdcdcd;
}

.field__input:active,
.field__input:focus {
  outline: 2px solid #444444;
}

.field__input:active~svg,
.field__input:focus~svg {
  stroke: #68b738;
}

.field__input:focus:invalid {
  outline: 2px solid #ff8282;
}

.field__input:focus:invalid~svg {
  stroke: #ff8282;
}